@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

html{
    font-family: 'Orbitron', sans-serif;

    text-align: center;
    background: url("../img/background.gif") no-repeat center;
    background-size: cover;
    color: white;
    overscroll-behavior: contain;
}
#index,#creators, #tutorial, #win, #soon, .watchout .game{

    height: 100vh;
    overflow: hidden;
    
}

a{
    text-decoration: none;
    color: white;
}


#index ul, #creators ul, #levels ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#index ul li, #creators ul li, #levels ul li{
    list-style: none;
    margin: 5em 0;
    font-size: 30px;
}

#index h1{
  padding-top: 20px;
}

#index main, #index footer{

    justify-content: center;
}


.game body {
    font-family: Helvetica sans-serif;
    padding: 0;
    margin: 0;
    background-color: #222;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.game canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.game .info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    background-color: rgba(0, 0, 0, .5);
}

.game .btn {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    font-size: 30px;

    border: 1px solid white;
    box-shadow:  0 0 5px white,  0 0 5px #0bf4f3 inset;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
}

.game .btn:active{
    font-family: 'Orbitron', sans-serif;

    font-size: 30px;

    border: 1px solid white;
    box-shadow:  0 0 5px white,  0 0 5px #0bf4f3 inset;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

#btn1{
    bottom: 10px;
    left: 10px;
}
#btn2{
    bottom: 10px;
    right: 10px;
}
.back{
    color: white;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    font-size: 46px;
}

#tutorial p {
    padding: 1vw;
}

#win p {
    padding: 1vw;
}
